.ed-container
    .ed-item.web-60.adress-container.desde-web#aside
        ul.adress
            li Aire Acondicionado de Occidente S.A de C.V.
            li
                span Domicilio:
                | Colon 850, Colonia Moderna, Guadalajara, Jalisco
            li
                span Teléfonos:
                | (33) 38 55 81 21 / (33) 36 13 37 18 / (33) 36 19 31 88 / (33) 36 58 23 38
            li
                span E-mail:
                a(href="mailto:formulario@aadoccsa.com.mx") formulario@aadoccsa.com.mx
    .ed-item.web-40.redes-container
        ul.redes
            li: a.icon-facebook(href="#", target="_blank")
            li: a.icon-twitter(href="#", target="_blank")
            li: a.icon-youtube(href="#", target="_blank")